.gradle
build
app/build
.idea
*.iml
local.properties
.gradle
captures
.externalNativeBuild
.cxx
*.apk
*.aab
app/libs/*.tar.bz2
app/libs/*.aar
.vscode/

# Build & install logs
build*.txt
install*.txt
*.log
jni/
